@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>React Calculator</title>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="~/node_modules/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet">
    <link href="~/Styles/app.css" rel="stylesheet">
</head>
<body>
    <div id="appContainer"></div>
    <script src="@Url.Content("~/Scripts/dist/bundle.js")"></script>
</body>
</html>
