@{
    Layout = null;
}
<html>
<head>
    <title>Hello React</title>
</head>
<body>
    <div id="appContainer"></div>
    <script src="@Url.Content("~/Scripts/dist/bundle.js")"></script>
</body>
</html>
